<a href="https://colab.research.google.com/github/shareefat/machine-learning-/blob/main/ML_adult_income_prediction_using_NAIVE_BAYES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**To Go **

**logical regression**

**linear regression**

**confusion metrix**

**Accuracy**----> definition:

the proposion of correct prdiction (both positive and negative)out of all total predictions.

-Equation:
Accuracy =(TP+TN)/(FP+FN+TP+TN)

TP=TRUE POSITIVE

TN=TRUE NEGATIVE

FN=FALSE NEGATIVE

FP=FALSE POSITIVE

**PRECISION**---also called positive prediction Value

Definition:

The propotion of true prositive prediction out of all positive prediciton

PRECISION=TP/(TP+FP)

**RECALL**also called sensitivity or TRUE Positive Rate

Definition:


the porportion of actual positive that are correctly predicted

EQ= Recall=TP/(TP+FN)

**F1 SCORE**

the harmonic mean of precision and recall,balaning the two metrices

EQ= F1 SCORE=2*(PRECISION*RECALL)/(PRECISION*RECALL)

**KEY INFERENCES**:

-high precision mean fewer false positive

-high recall mean fewer false negative

-Accuracy can be misleading when classes are imbalanced

-f1 score provides a balanved measure when precision are recall are equal important

ASSUMPTIONS OF LINEAR REGRESSION:

1. Linearity
2. Homoscedasticity of Residuals in Linear Regression
3. Multivariate Normality / Normal Distribution
4. Independence of Errors
5. Lack of Multicollinearity
6. Absence of Endogeneity

NAIVE BAYES ALOGORITHM INTUITION

MAP for a hypothesis with 2 events A and B is

MAP(A)
=max(p(a|b)
=max(p(B|A)*p(A))/p(B)

=max(P(B|A)*P(A))

here p(B) is the evidence probability it is used to normalize the result it remains thr same ,so removing it would not effectthe result

NAIVE BAYES

read the dataset

In [282]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("adult.csv")
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [283]:
df.shape

(32560, 15)

In [284]:
df.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [285]:
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',"raise",'Gender','capital_gain','capital_loss','hour_per_week','state','income']
df.columns = col_names
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'raise', 'Gender',
       'capital_gain', 'capital_loss', 'hour_per_week', 'state', 'income'],
      dtype='object')

In [286]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,raise,Gender,capital_gain,capital_loss,hour_per_week,state,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [287]:
import numpy as np
df["workclass"].replace("?",np.nan,inplace=True)

<ipython-input-287-0cac14db2b2c>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["workclass"].replace("?",np.nan,inplace=True)

In [288]:
df["income"].value_counts()

income
<=50K    24719
>50K      7841
Name: count, dtype: int64

In [289]:
df["workclass"].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [290]:
df['workclass'] = df['workclass'].map(str)
print(df.dtypes)

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
raise             object
Gender            object
capital_gain       int64
capital_loss       int64
hour_per_week      int64
state             object
income            object
dtype: object

In [291]:
df["workclass"].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [292]:
df['workclass'] = df['workclass'].map(str)

In [293]:
df["workclass"].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [294]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
raise             0
Gender            0
capital_gain      0
capital_loss      0
hour_per_week     0
state             0
income            0
dtype: int64

In [295]:
df["workclass"]=df["workclass"].str.strip()

In [296]:
df["workclass"].replace("?", df['workclass'].value_counts().idxmax(),inplace=True)

<ipython-input-296-41ee7533dba7>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["workclass"].replace("?", df['workclass'].value_counts().idxmax(),inplace=True)

In [297]:
df['workclass'].value_counts()

workclass
Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1297
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [298]:
print(df['workclass'].dtype)

object

In [299]:
df['occupation'].value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [300]:
df['occupation']=df['occupation'].str.strip()

In [301]:
df["occupation"].replace("?", df['occupation'].value_counts().idxmax(),inplace=True)

<ipython-input-301-9346acc568e0>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["occupation"].replace("?", df['occupation'].value_counts().idxmax(),inplace=True)

In [302]:
df["occupation"].value_counts()

occupation
Prof-specialty       5983
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3769
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [303]:
df['relationship'].value_counts()

relationship
Husband           13193
Not-in-family      8304
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64

In [304]:
df['state'].value_counts()

state
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [305]:
df['state']=df['state'].str.strip()
df['state'].replace("?",df['state'].value_counts().idxmax(),inplace=True)
df['state'].value_counts()

<ipython-input-305-bc39982889c1>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['state'].replace("?",df['state'].value_counts().idxmax(),inplace=True)

state
United-States                 29752
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [306]:
df['income'].value_counts().idxmax()

' <=50K'

In [307]:
df['state'].value_counts().idxmax()

'United-States'

In [308]:
df['occupation'].value_counts().idxmax()

'Prof-specialty'

In [309]:
x=df.drop("income",axis=1)
y=df["income"]

In [310]:
y.replace("<=50K",0,inplace=True)
y.replace(">50K",1,inplace=True)
y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32555     <=50K
32556      >50K
32557     <=50K
32558     <=50K
32559      >50K
Name: income, Length: 32560, dtype: object

In [311]:
import sklearn
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [312]:
y=df["income"]
x=df.drop("income",axis=1)

In [313]:
y= encoder.fit_transform(y)
y

array([0, 0, 0, ..., 0, 0, 1])

In [314]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.10/dist-packages (2.6.4)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)

In [315]:
import category_encoders as ce
encoder=ce.OneHotEncoder(cols=["workclass","education","marital_status","occupation","relationship","raise","Gender","state"])
x=encoder.fit_transform(x)

In [316]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit_transform(x)

array([[ 0.83709708,  3.43712857, -1.74808601, ..., -0.02715961,
        -0.01998555, -0.00554197],
       [-0.04264043, -0.29094053,  0.57205423, ..., -0.02715961,
        -0.01998555, -0.00554197],
       [ 1.05703146, -0.29094053,  0.57205423, ..., -0.02715961,
        -0.01998555, -0.00554197],
       ...,
       [ 1.42358875, -0.29094053,  0.57205423, ..., -0.02715961,
        -0.01998555, -0.00554197],
       [-1.21562378, -0.29094053,  0.57205423, ..., -0.02715961,
        -0.01998555, -0.00554197],
       [ 0.98372   , -0.29094053, -1.74808601, ..., -0.02715961,
        -0.01998555, -0.00554197]])

In [317]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [318]:
x_train.shape

(26048, 105)

In [319]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [321]:
y_pred=model.predict(x_test)
y_pred[:6]

array([0, 0, 0, 0, 0, 0])

In [322]:
y_test[:5]

array([1, 0, 0, 0, 0])

In [325]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_test,y_pred)

0.7936117936117936

In [327]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[4699,  258],
       [1086,  469]])

In [334]:
cr=classification_report(y_test,y_pred)
cr

'              precision    recall  f1-score   support\n\n           0       0.81      0.95      0.87      4957\n           1       0.65      0.30      0.41      1555\n\n    accuracy                           0.79      6512\n   macro avg       0.73      0.62      0.64      6512\nweighted avg       0.77      0.79      0.76      6512\n'